DATABASE_URL="postgresql://postgres:postgres@localhost:5433/core?schema=public"
NODE_ENV="development"
APP_PORT=80
APP_NAME="Voxtir"
AUTH0_DOMAIN="YOURDOMAIN"
COOKIE_SECRET="SOMESECRET"
PROJECT_SHARING_EXPIRATION_TIME=604800
JWT_SECRET="YOURSECRET"
RESEND_API_KEY="<API_KEY>"
FRONTEND_BASE_URL="YOUR_FRONTEND_DOMAIN"
RESEND_DOMAIN="YOUR_RESEND_DOMAIN"