@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    outline: none;
  }
  
  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  .is-editor-empty .is-empty::before {
    content: attr(data-placeholder);
    color: #aaa;
  }
  
  a {
    text-decoration: underline;
    color: royalblue;
  }
  
  iframe {
    width: 500px;
    height: 300px;
    overflow-y: hidden;
  }